/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

h2 {
  font-size: 2.5rem;
}

.btn {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: .5rem;
  text-align: center;
}

.btn-primary {
  color: #fff;
  background-color: #9d65d0;
}

.btn-primary:hover {
  color: #fff;
  background-color: #904dd0;
}

.note {
  font-size: 0.75rem;
}

.logo {
  width: 120px;
  height: 120px;
}